body {
  margin: 0;
}
.navbar {
  background-color: black;
  overflow: hidden;
}

.navbar a {
  padding: 14px 15px;
  font-size: 20px;
  color: white;
  text-align: center;
  float: right;
}
a {
  text-decoration: none;
}

.flex-container, .panel {
  border: 2px solid;
}

}
.flex-container {
  display: flex;
  flex-direction: column;
}

aside {
  font-size: 16px;
  border: 2px solid;
  padding: 1em;
  margin: 5px;
  width: 23%;
}

.flex-container-aside {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-around;

}


