/* Overriding all the default style and setting padding and margin to 0 */
* {
  margin: 0;
}

/* sets the background color of navbar */
.navbar {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/* nav links using flexbox to create a row */
.nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/* targeting the nology text and background color as well as padding */
.navbar .nology {
  font-size: 22px;
  color: white;
  background-color: green;
  padding: 18px;
  display: inline-block;
}

/* link text elements */
.nav a {
  color: white;
  font-size: 22px;
  padding: 100px;
}

/* removes underline and bullets from text */
li, a {
  text-decoration: none;
  list-style: none;
}
/*
.flex-container, .panel {
  border: 2px solid;
}


.flex-container {
  display: flex;
  flex-direction: column;
}

aside {
  font-size: 16px;
  border: 2px solid;
  padding: 1em;
  margin: 5px;
  width: 23%;
}

.flex-container-aside {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-around;

}


